services:
  surrealdb:
    image: surrealdb/surrealdb:v2
    volumes:
      - ./surreal_data:/mydata
    environment:
      - SURREAL_EXPERIMENTAL_GRAPHQL=true
    ports:
      - "8000:8000"
    networks:
      - open-network  
    command: start --log info --user root --pass root rocksdb:/mydata/mydatabase.db
    pull_policy: always
    user: root
    restart: always
    
  ngrok:
    container_name: ngroknotebook
    image: ngrok/ngrok:latest
    ports:
      - "4041:4040"
    environment:
      - NGROK_AUTHTOKEN=${NGROK_TOKEN}
    command:
      - "start"
      - "--all"
      - "--config"
      - "/etc/ngrok.yml"
    networks:
      - open-network
    volumes:
      - ./ngrok.yml:/etc/ngrok.yml
      
  open_notebook:
    image: lfnovo/open_notebook:v1-latest
    ports:
      - "8502:8502"
      - "5055:5055"
    networks:
      - open-network  
    depends_on:
      - surrealdb
    volumes:
      - ./notebook_data:/app/data
    restart: always
    
networks:
  open-network:
    driver: bridge
    
